<html>
	<head>
		<meta charset="utf-8">
		<title>Пример с абзацами</title>

	<link 
		rel="stylesheet" 
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
		crossorigin="anonymous"
	>
	<link href="/css/styles.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

	</head>
	<body>
		<div class="container">
			<h1 id="main_header">Заголовок</h1>

      		<p>Первый абзац</p>

      		<p id="second_paragraph">Второй</p>

			<p id="third_paragraph">Третий абзац, в котором есть<br/>перенос</p>

			<hr/>

			&nbsp;
			<a href="/contacts">
				Контакты
			</a>
		</div>
	</body>
	<script href="/static/helpers.js"></script>
</html>
